<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dodaj osobę</title>
</head>
<body>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="container">
	<h1>Dodaj osobę</h1>
	<form action="#" th:action="@{/add}" th:object="${person}" method="post">
		<div class="form-row">
			<label>Imię:</label>
			<input type="text" th:field="*{firstName}" />
		</div>
		<div class="form-row">
			<label>Nazwisko:</label>
			<input type="text" th:field="*{familyName}" />
		</div>
		<div class="actions">
			<button class="btn" type="submit">Zapisz</button>
			<a class="button secondary" href="/people">Powrót</a>
		</div>
	</form>
</div>
</body>
</html>